<!DOCTYPE html>
<html>

<body>
    <div class="row">
        <div class="col-5 login_form">
            <!-- Sing In Column -->
            <div class="login_content">
                <img id="admin_logo" src="assets/images/pedc_logo.jpg" alt="Admin">
                <h4 id="admin_title">Admin</h4>
                <div>
                    <label class="label" for="user_name">User Name :</label>
                    <input id="user_name" class="form-control" type="text">
                </div>

                <div><label class="label" for="password">Password :</label>
                    <input id="password" class="form-control" type="password">
                </div>
                <div id="sign_in_button">
                    <button class="form-control" id="button" type="button">Sign In</button>
                </div>
            </div>
        </div>
        <!-- Logo Column -->
        <div class="col-7 logo_form">
            <div class="logo_content">
                <img id="logo" src="assets/images/img.jpg" alt="Logo">
                <p id="logo_title">Peace And Society Education Dhamma Training Center</p>
                <div>
                    <img id="image" src="assets/images/education.jpg" alt="Image">
                </div>
            </div>

        </div>
    </div>
</body>

</html>