.container {
    width: 50%;
    text-align: center;


    .card {
        text-align: center;
        margin-top: 110px;
        padding: 50px;
        border: 1px solid green;
        border-radius: 20px;
        box-shadow: 3px 3px 10px 2px #007380;

        #logo {
            height: 100px;
            width: 100px;
        }

        #title {
            margin-top: 15px;
            margin-bottom: 45px;
            font-style: italic;
            color: green;
        }

        #sign_in_button {
            margin-top: 20px;

            #button {
                font-weight: bold;
            }

            #button:hover {
                background-color: whitesmoke;
            }
        }

        .label {
            font-weight: bold;
            margin-top: 5px;
            display: flex;
        }

        .form-control {
            border: 1px solid green;
            margin-top: 5px;
            box-shadow: none;
        }

        #forgot_password {
            margin-top: 20px;

            #a {
                text-decoration: none;
                cursor: pointer;
            }
        }

        #sing_up {
            margin-top: 20px;
        }
    }


}