<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <!-- Sing In -->
        <div class="card">
            <!--Logo-->
            <div>
                <img id="logo" src="assets/images/pedc_logo.jpg" alt="PEDTC">
            </div>
            <!--Title-->
            <h4 id="title">P.E.D.T.C</h4>
            <!--User ID Input Field-->
            <div>
                <label class="label" for="user_name">User Id :</label>
                <input id="user_name" placeholder="Email or Phone" class="form-control" autofocus type="text">
            </div>
            <!--User Password Field-->
            <div><label class="label" for="password">Password :</label>
                <input id="password" maxlength="8" placeholder="Enter your password" class="form-control"
                    type="password">
            </div>
            <!--Sign In Button-->
            <div id="sign_in_button">
                <button class="form-control" id="button" type="button" (click)="'signIn()'">Sign In</button>
            </div>
            <!--Forgot Password -->
            <div id="forgot_password">
                <a href="#" id="a">Forgot Password</a>
            </div>
            <!--To be Sing Up-->
            <div id="sing_up">
                <span>Don't have an account?</span> <a href="#"> Sing Up</a>
            </div>
        </div>
    </div>
</body>

</html>